body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

#controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#rotation-controls {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}


#controls button,
#controls label,
#controls input {
    margin-bottom: 10px;
}